// Footer

footer {
  background-color: $dark-green;
  padding: 50px 0 50px;
  font-size: 16px;
  color: $gray-light;
  text-decoration: none;
  img {
    width: 50px;
    margin-bottom: 3px;
  }
  span.copyright {
    line-height: 40px;
    @include roboto-font;
    text-transform: none;
  }
  i {
    color: $gray-light;
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

